@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-text.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}
.App {
  font-family: "Plus Jakarta Display", sans-serif;
}
p {
  font-family: "Plus Jakarta Text", sans-serif;
}
